@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Index";
    var requestCultrue = Context.Features.Get<IRequestCultureFeature>();
}

<h1>Index</h1>

<a class="btn btn-primary" asp-action="Create">@localizer["create"]</a>
<table class="table mt-4">
    <tr>
        <td>@localizer["cultrue"]</td>
        <td>@requestCultrue.RequestCulture.Culture.NativeName</td>
    </tr>
    <tr>
        <td>@localizer["uiCultrue"]</td>
        <td>@requestCultrue.RequestCulture.UICulture.NativeName</td>
    </tr>
    <tr>
        <td>@localizer["date"]</td>
        <td>@DateTime.Now.ToLongDateString()</td>
    </tr>
    <tr>
        <td>@localizer["currency"]</td>
        <td>@(1500.00.ToString("c"))</td>
    </tr>
    <tr>
        <td>@localizer["number"]</td>
        <td>@(500.00.ToString("f2"))</td>
    </tr>
</table>